/*
Version: 0.0.1
Description: Clio
Design by: Johnny Bilotta
Development by: Alex Hillman
*/
body {
	font-family:Helvetica, Arial, sans-serif;
	font-size:16px;
	line-height:26px;
  color:#717073;
	font-weight:bold;
  background: #e5e0cb url('http://indyhall.org/images/bricks.jpg') repeat top left;
	margin:0;
	padding:20px 0;
	padding-top:0;
}
a, a:visited, a:active{
  color:#826b29;
	text-decoration:none;
	outline:none;
}
a:hover{
  text-decoration:underline;
}
:focus {
	-moz-outline-style: none;
}
.center{
  text-align: center;
}
h2.right{
  text-align:right;
}
blockquote{
  margin:25px;
  font-style: italic;
}
#contents{
  position:relative;
  z-index:2;
  width:760px;
  background:#FFF;
  margin:0 auto;
  border:2px solid #a78e6b; 
  border-right:2px solid #a78e6b; 
  border-bottom:3px solid #a78e6b;
  border-top:0;
  padding:10px 20px 10px 20px;
}
table#wide{
  width:100%;
}
table tr td{
  padding:5px;
  border:solid 1px #fff;
}
table tr td.level{
  width:100px;
}
table tr td.name{
  width:250px;
}
.member {
  background-color: #ddd;
  margin: 1em;
  padding: .5em;
}
h2{
  font-size:22px;
  margin-top:15px;
}
h2 a{
  font-size:15px;
  line-height:22px;
  margin-left:10px;
}
h3{
  font-size:18px;
  margin-top:15px;
}
