%h1 Members

%table
  - @members.each do |member|
    %tr.member
      %td 
        = link_to "#{member.membership_level_name} - #{member.name}", member_path(member)

%p 
  = link_to "Add a Member", new_member_path
